*{
    margin: 0px;
    padding: 0;
}

body  {
    background: rgb(165, 149, 149);
  
}


.formulario {
    border: solid black 1px;
    border-radius: 25px;
    margin: auto;
    width: 350px;
    margin-top: 100px;
    padding: 5px;
     text-align: center;
     background: rgb(87, 29, 29);
     color: rgb(248, 248, 245);
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
}

.formulario input  {
padding: 3px;
margin:15px ;
}

.terminos {

    text-decoration: underline;

    padding: 10px;
    font-size: 12px;

}

h2 {
    padding: 10px;
    font-size: 20px;

}

