/*
Estilos de varios elementos
*/
.formulario,
.contenedores-login {
  display: flex;
}
.formulario-login,
.contenedores-login {
  flex-direction: column;
}

.input-text,
.boton {
  padding: 0.5em 0;
}
/*Estilos individuales*/
.formulario {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.terminos {
  display: block;
}

h2 {
  padding: 10px;
  font-size: 20px;
}

.correo {
  display: flex;
}
.contenedores-login {
  margin-top: 1em;
}
.formulario-login {
  background: #fff;
  height: 50%;
  padding: 3em;
  border-radius: 5%;
}
.legenda {
  font-weight: bold;
  text-transform: uppercase;
}
.input-text {
  width: 100%;
  margin-top: 0.5em;
}
.boton {
  width: 100%;
  background-color: #4286ba;
  border: none;
  color: #fff;
  border-radius: 3%;
  text-transform: uppercase;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #000;
}
.boton:hover {
  cursor: pointer;
  background-color: #4286bac2;
}
